
BrejaOnline/BrejaOnline\.Dominio\.Test/bin/Debug/netcoreapp2\.1/

BrejaOnline/\.vs/BrejaOnline/DesignTimeBuild/

BrejaOnline/\.vs/BrejaOnline/v15/

BrejaOnline/BrejaOnline\.Dominio\.Test/obj/Debug/netcoreapp2\.1/

BrejaOnline/BrejaOnline\.Dominio/bin/Debug/netcoreapp2\.1/

BrejaOnline/BrejaOnline\.Dominio/obj/Debug/netcoreapp2\.1/

BrejaOnline/BrejaOnline\.Dominio\.Test/obj/

BrejaOnline/BrejaOnline\.Dominio/obj/
