
*.lock

BrejaOnline/\.vs/BrejaOnline/v15/Server/sqlite3/

BrejaOnline/BrejaOnline\.Dominio\.Test/obj/Debug/netcoreapp2\.1/

BrejaOnline/\.vs/BrejaOnline/v15/

BrejaOnline/BrejaOnline\.Dominio/obj/Debug/netcoreapp2\.1/
